.imagem-zoom{
    width: ;
    height: 330px ;
    transition: transform 0.3s;
}
.imagem-zoom:hover{
    transform: scale(1.2);
}

h1{
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-family: "Cinzel", serif;
}

.subtitulo{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: white;
}

h2{
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-family: "Cinzel", serif;
}

h3{
    color: white;
    font-family: "Cinzel", serif;
}

.navegacao{
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    opacity: 2;

}

header{
    background-color: peru;
    color: #000000;
    font-weight: bold;
    padding: 30px 0px;
    border: 0;
    margin: 0px;
    width: 100%;
    text-align: center;
    opacity: 0.8;
}

body{
    background-color: #000000;
}

a{
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

.cabeça{
    background-image: 
    linear-gradient(rgba(158, 125, 71, 0),  rgb(0, 0, 0)),
    url(img/artdeco.webp);
    height: 600px;
}

.content img{
    position: relative;
    top: 50%;
    left: 5%;
    width: 390px;
    height: 340px;
    padding: 10px;
    margin: 20px;
    margin-bottom: 100px;
    border-radius: 90px;
    background: rgba(224, 141, 58, 0.7);
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

footer{
    background-color: rgba(181, 113, 45, 0.832);
    margin: 0;
    justify-content: space-between;
    gap: 80px;
    padding: 30px 60px;
}


